/* put custom styles in this file */
form {
  text-align: center;
  margin-bottom: 20px;
}
button {
  text-align: center;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}
p {
  font-size: 20px;
  font-weight: bold;
}
.col-sm-9 {
  float: right;
}
